@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-size: 15px;
  background-color: hsl(233, 47%, 7%);
  font-family: "Inter", sans-serif;
  text-align: center;
}

.card {
  background-color: hsl(244, 38%, 16%);
  padding: 0 0 20px;
  margin: 3rem;
  border-radius: 0.625rem;
  /* overflow: hidden; */
}

.image {
  /*background-color: hsl(277, 64%, 61%);*/
  border-radius: 20px 20px 0 0;
}

img {
  max-width: 100%;
  opacity: 0.6;
  border-radius: 10px 10px 0 0;
}

.content {
  display: grid;
  gap: 2rem;
  padding: 2rem;
}


h1,
h2 {
  font-family: "Lexend Deca", sans-serif;
  color: hsl(0, 0%, 100%);
}

.info {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

h4 {
  color: hsla(0, 0%, 100%, 0.6);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
}

span {
  color: hsl(277, 64%, 61%);
}

@media (min-width:760px) {

  /* body {

    max-width: 900px;
    height: 100vh;
  }*/
  .card {
    display: flex;
    flex-direction: row-reverse;
  }
}